@font-face {
    font-family: "yekan";
    src: url(../fonts/Yekan.eot);
    src: url(../fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(../fonts/Yekan.woff) format("woff"), url(../fonts/Yekan.ttf) format("truetype"), url(../fonts/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}
body{
	font-family: 'yekan' , sans-serif ;
	direction: rtl;
}
/* Button Styles */
button.button{
	padding: 1em;
}
.button{
	border : 1px solid #e3e3e3;
	background-color: #f2f2f2;
	color: #454545;
	padding-right: 0.5em;
	padding-left: 0.5em;
	border-radius: 4px;
}
.button:hover{
	color: #454545;
	background-color: #e3e3e3;
}
.button.primary {
	background-color: #3498db;
	color: #fff;
	border-color: #2980b9;
}
.button.primary:hover{
	color: #fff;
	background-color: #2980b9; 
}
.button.success {
	background-color: #2ecc71;
	color: #fff;
	border-color: #27ae60;
}
.button.success:hover{
	color: #fff;
	background-color: #27ae60; 
}
.button.error {
	background-color: firebrick;
	color: #fff;
	border-color: #761c19;
}
.button.error:hover{
	color: #fff;
	background-color: #ae0f07;
}
/* End Button Styles*/

.topbar{
	min-height: 5em;
	padding-top: 1em;
	padding-right: 3em;
	background-color: #1abc9c;
}
.topbar span{
	margin-left: 2em;
}
.topbar-right{
	float: right;
}
.topbar-left{
	float: left;
	direction: ltr;
	margin-top: -1em;
	margin-left: 2em;
	text-align: left;
}
.topbar .logo{
	height: 5em;
}

.header{
	background-color: #16a085;
	color: #fff;

}
.header a{
	color: #fff;
}
.header a:hover {
	color:  #ecf0f1;
}
.menu {
	padding: 0;
	margin: 0 auto;
	text-align: center;
	
	
}
.menu li{
	font-size: 11pt;
	display: inline-block;
	margin-left: 1.5em;
	margin-right: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	color: #fff;
}
.menu li:hover{
	color: #bdc3c7;
}
.menu li a{
	color: inherit;
}
.main{
	margin-top: 1em;
}
.main * {
	font-family: 'yekan' , sans-serif ;
}
.box{
	padding: 2em;
	/*border:1px solid #e3e3e3;*/
	text-align: center;
}
.box a{
	color: inherit;
}
.box .content{
	background-color: #f2f2f2;
	cursor: pointer;
}
.box .content:hover{
	border:1px solid #e3e3e3;
	box-shadow: 0px 0px 5px 0px #ccc;
}
.box .title {
	margin-top: 1em;
	padding-right: 1em;
}

.box .image img{
	width: 100%;
	height: 100%;
}
.price {
	font-size: 1.2em;
}
.price .last {
	color: #888;
	font-size: 0.8em;
	text-decoration: line-through;
}
.price .now {
	color: #2ecc71;
}
