.container .price {
	font-size: 1.2em;
    color: #2ecc71;
    display: inline;
    float: left;
    margin-top: 3.5%;
    margin-left: 1%;    
    direction: ltr;
}

#body h3 {
    font-family: 'yekan' , sans-serif ;
}
    
#body .container {
    margin: 15px 15px 15px 15px;
    background-color:#f5f5f5;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
    padding: 1% 2% 1% 1%;
    position: relative;
}


#body {
    padding: 2% 2% 2% 2%;
        
}


#items .container .img {
    width: 10%;
    height: 80%;
    display: inline-block;
}

#items .container .block {
    display: inline-block;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    margin-top: 1%;
    margin-right: 2%; 
}

.pname {
    font-family: cursive;
}
.username {
    margin-right: 4px;
    margin-left: 8px;
    
    
}

#price {
    display: block;
    float: left;
    margin-left: 3%;
}

#total {
    display: inline-block;
    margin-left: 30px;    
    font-family: 'yekan' , sans-serif ;
    color:crimson;
}

#totalprice {
    display : inline-block;
    direction: ltr;
    font-size: 1.2em;
    color: #2ecc71;
    
}

.forms #info h4{
    font-family: 'yekan' , sans-serif ;
}

#info {
    margin-bottom: 10px;
}

.forms {
    clear: both;
    margin-top: 60px;
    margin-right: 20px;
    
}

.label {
    margin-left: 10px;
}

#addresstable {
    margin-right: 50px;
}

input {
    padding: 3px 5px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea{
    resize: none;
    padding: 3px 5px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
select {
    width:100%;
    margin: 8px 0px 8px 0px;
}

#sendingprice {
    direction: ltr; 
    padding-top: 1em;
}

#sendinginfo {
    margin-top: 30px;
    margin-right: 20px;
    
}

#sendingtable {
    border-collapse: collapse;
    margin-right: 50px;
}

#button {
    float:left;
    margin-left: 2em;
}
