
.container {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-right: 50px;
    padding: 20px;
    background-color: #f1f1f1;
    border: 5px;
    border-radius: 10px;
}

.form-normal-input {
    width: 250px;
    border-radius: 10px;
}

.form-title {
    font-family: 'yekan' , sans-serif;
    color: #510000;
}

.form-row {
    margin: 5px;
    padding: 5px;
}

.form-labels-col {
    padding: 7px;
    float: right;
    width: 15%;
}

.form-textarea {
    width: 450px;
    height: 120px;
    resize: none;
    border: inset;
    border-width: 2.5px;
    border-radius: 10px
}

.form-label {
    float: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
    -moz-appearance:textfield;
}