.login-container {
    margin: auto;
    margin-left: 5%;
    margin-top: 20px;
    margin-right: 5%;;
    padding: 10px;
    background-color: #f1f1f1;
    border: 5px;
    border-radius: 10px;
    width:39%;
    float:left;
}

h1 {
    font-family: 'yekan' , sans-serif ;
}
            
#divider {
        margin-top: 45px;
        margin-bottom: 10px;
        width: 3px;
        height: 350px;
        background-color: black;
        float: left;
}

.login-form-labels-col {
    padding: 7px;
    float: right;
    width: 25%;
}

.form-label {
    font-weight: 600;
}
