.product-form-labels-col {
    padding: 7px;
    float: right;
    width: 20%;
}

.form-new-input {
    width: 150px;
    border-radius: 10px;
}

.form-new-l2-label {
    margin-right: 90px;
    padding: 5px;
}

.form-new-l2-label label {
    font-size: 0.85em;
}

.tuple {
    margin-right: 10px;  
}

.colorcheck {
    margin-right: 2px;
}

#colors {
    margin-top: 7px;
}